@{
    ViewData["Title"] = "Privacy Policy";
}

<p>
    <center>
        <h1>
            <font face="Monaco" size="10" color="black">
                To Do List
            </font>
        </h1>

<p>
    <font face="Monaco" size="5" color="black">
        Md. Raihan Nishat</br>
        ID: 182-35-2518</br>
        Abdullah Al Asif</br>
        ID: 182-35-2548</br>
        Batch: 26th</br>
        Department of Software Engineering</br>
        Faculty of Science & Information Technology</br>
        Daffodil International University</br>
        </br>
    </font>
</p>
</center>
</p>
